.header {
	font-size: 13px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {
	&__list {
		display: flex;
	}
	&__item {
		transition: all .3s;
		&:not(:last-child) {
			margin-right: 56px;
		}
		&:hover {
			color: $accent;
		}
	}
}

.number {
	transition: all .3s;
	&:hover {
		color: $accent;
	}
}