.our-team {
	padding: 139px 0 189px;
	position: relative;
	&::after	 {
		content: '';
		position: absolute;
		width: 100%;
		height: 75%;
		bottom: 0;
		right: 0;
		left: 0;
		background: url(../images/bg-2.png) no-repeat;
		background-size: cover;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__content {
		position: relative;
		z-index: 100;
		max-width: 542px;
	}
	&__title {
		@extend %title;
		margin-bottom: 50px;
	}
	&__text {
		&:last-child {
			margin-bottom: 64px;
		}
	}
	&__btn {
		@extend %btn;
	}
}